.aside {
			position: fixed;
			width: 100px;
			right: 0; top: 170px;
			background-color: #fff;
			z-index: 999;
		}
		.aside > ul > li {
			text-align: center;
			border-top:1px solid #ccc;
		}
		.aside > ul > li:hover{
			color:#ccc;
		}
		.aside > ul li:nth-child(3) :hover{
          color:#ccc;
		}
		.aside ul li:nth-child(2) p{
          font-size: 12px;
		}
		 .aside img{
		 	margin: auto;
		 	padding: 10px;
		 }
		.aside > ul > li:hover > .tip {
			display: block;
		}
		.aside > ul > li:last-child{
			height: 100px;
			
		}
		.aside > ul > li:first-child{
			border-top:none;
		
		}
		.aside > ul > li:nth-child(3){
			/*background-color: #336666;*/
			position: relative;
		}
		.aside .tip {
			width: 300px;
			height: 200px;
			background-color: #ededed;
			border:1px solid #ccc;
			position: absolute;
			right: 120%;
			top: 0;
			display: none;
		}
header{
	width: 100%; 
}
 .content{
	width: 100%;
	background-color: #333333;
}
 .login{
	width: 1090px;
	margin: 0 auto;
	line-height: 36px;	
}
.header-left{
	color: #cccccc;
	width: 500px;
	display: inline-block;
}
.header-left img{
	width: 24px;
	height: 22px;
	padding-left: 30px;
	vertical-align: middle;
}
.header-left a{
	color: #b4a078;
	text-decoration: underline;
} 
.header-left span:hover{
	color:#fff;
    text-decoration: none;
}
.login a:hover{
	color: #fff;
	text-decoration: none;
}
.header-right:after{
	content: "";
	display: block;
	clear: both;
}
.header-right{
	float: right;
	width: 460px;
}
  .ul-one{
	display:flex;
	justify-content: space-between;
	position: relative;
	z-index: 999;
}
.ul-one>li>a{
	color:#cccccc;
}
.header-right .ul-one > li:nth-child(1){
	margin-right: 10px;
}
.header-right .ul-one li:nth-child(1)::before,
.header-right .ul-one li:nth-child(2)::before{
	display: none;
}
.header-right .ul-one > li::before{
	content: "";
	display: inline-block;
	margin-right: 10px;
	height: 16px;
	border-left: 1px solid #5c5c5c;
	vertical-align: middle;
}
.header-right li:nth-child(7):hover .yincang{
	display: block;
}
.yincang{
	display: none;
	position: absolute;
	top: 40px;
	z-index: 999;
	background-color: #fff;
	box-shadow: 1px 1px 5px #ccc;
	text-align: center;
}
.yincang li a{
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.yincang li a:hover{
	color: #b4a078;
	cursor: pointer;
}
.header-right li:nth-child(8):hover .wechat{
	display: block;
}
.header-right li:nth-child(8) .wechat{
	background-color: #fff;
	position: absolute;
	right: -40px;
	top: 36px;
	display: none;
}
.wechat img{
	width: 117px;
	height: 117px;
	margin: 10px 0 0 10px;
}


nav{
	width: 100%;
}
 .first-nav{
	width: 1090px;
	margin: 0 auto;
	height: 204px;
	position: relative;
}
 .logo img{
	width: 250px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -140px;
	margin-top: -70px;
}
 .logo a:hover{
	cursor: pointer;
}
 .search{
 	position:relative;
 	border-bottom:1px solid #ccc; 
 	float:right; 
 	margin-top:90px;
    margin-right: 60px;
 }

 .search i:hover{
	cursor: pointer;
	color: #b4a078;
}
.nav .ul-two{
	width: 1090px;
	margin-left: 23px;
	display: flex;
	justify-content: flex-start;
	position: absolute;
	top: 156px;

}
.ul-two li{
	padding-right: 48px;
}
.ul-two li a{
	color: #000;
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 5px;
}
.ul-two li a:hover{
	color: #b4a078;
	border-bottom: 3px solid #b4a078;
}
.ul-two li:first-of-type a{
	color: #b4a078;
	border-bottom: 3px solid #b4a078;
}
/*jujia*/
 .house{
 	background-color: #fff;
    width:100%;
    z-index: 99;
 	left:0;right: 0;
 	margin: auto;
 	position: absolute;
 	top:35px;

 }
 .house li a{
 	padding-bottom: 0;
 }
 .house li a:hover{
	color: #b4a078;
	border-bottom: 1px solid #b4a078;
}
    .nav .ul-two li:hover .house {
   		display: block;
  
    }
   .nav .ul-two li .house{
     display: none;
   }
    
  .house>ul>li a{
     	line-height: 50px;
     	font-size: 12px;
     }

     .house >ul{
   margin: auto;
   width: 1120px;
     }
     .house>ul::after{
     	content: "";
     	display: block;
     	clear: both;
     }
     .house >ul>li{
     	float: left;
     	width: 120px;
     	margin-left: 30px;
     	margin-top: 20px;text-align: center;
     }
     .house>ul>li .img{
      width:44px;
      height: 44px;
      margin:0 auto;
     }
     
  .nav .ul-two>li:nth-child(2) .house>ul>li:first-child>a>div{
  	background-image: url(../images/nav/jujia/1.png);
  }
  .nav .ul-two>li:nth-child(2) .house>ul>li:nth-child(2)>a>div{
  	background-image: url(../images/nav/jujia/2.png);
  }
  .nav .ul-two>li:nth-child(2) .house>ul>li:nth-child(3)>a>div{
  	background-image: url(../images/nav/jujia/3.png);
  }
   .nav .ul-two>li:nth-child(2) .house>ul>li:nth-child(4)>a>div{
  	background-image: url(../images/nav/jujia/4.png);
  }
   .nav .ul-two>li:nth-child(2) .house>ul>li:nth-child(5)>a>div{
  	background-image: url(../images/nav/jujia/5.png);
  }
   .nav .ul-two>li:nth-child(2) .house>ul>li:nth-child(6)>a>div{
  	background-image: url(../images/nav/jujia/6.png);
  }
   .nav .ul-two>li:nth-child(2) .house>ul>li:nth-child(7)>a>div{
  	background-image: url(../images/nav/jujia/7.png);
  }
   .nav .ul-two>li:nth-child(2) .house>ul>li:nth-child(8)>a>div{
  	background-image: url(../images/nav/jujia/8.png);
  }
   .nav .ul-two>li:nth-child(2) .house>ul>li:nth-child(9)>a>div{
  	background-image: url(../images/nav/jujia/9.png);
  }
   .nav .ul-two>li:nth-child(2) .house>ul>li:nth-child(10)>a>div{
  	background-image: url(../images/nav/jujia/10.png);
  }
   .nav .ul-two>li:nth-child(2) .house>ul>li:nth-child(11)>a>div{
  	background-image: url(../images/nav/jujia/11.png);
  }
   .nav .ul-two>li:nth-child(2) .house>ul>li:nth-child(12)>a>div{
  	background-image: url(../images/nav/jujia/12.png);
  }
  /*xiebao*/
  .bag{
 	background-color: #fff;
    width:100%;
    z-index: 99;
 	left:0;right: 0;
 	margin: auto;
 	position: absolute;
 	top:35px;

 }
 .bag li a{
 	padding-bottom: 0;
 }
 .bag li a:hover{
	color: #b4a078;
	border-bottom: 1px solid #b4a078;
}
    .nav .ul-two li:hover .bag {
   		display: block;
  
    }
   .nav .ul-two li .bag{
     display: none;
   }
  .bag>ul>li a{
     	line-height: 50px;
     	font-size: 12px;
     }

     .bag >ul{
   margin: auto;
   width: 1120px;
     }
     .bag>ul::after{
     	content: "";
     	display: block;
     	clear: both;
     }
     .bag >ul>li{
     	float: left;
     	width: 120px;
     	margin-left: 30px;
     	margin-top: 20px;text-align: center;
     }
     .bag>ul>li .img{
      width:44px;
      height: 44px;
      margin:0 auto;
     }
     
  .nav .ul-two>li:nth-child(3) .bag>ul>li:first-child>a>div{
  	background-image: url(../images/nav/bag/1.png);
  }
  .nav .ul-two>li:nth-child(3) .bag>ul>li:nth-child(2)>a>div{
  	background-image: url(../images/nav/bag/2.png);
  }
  .nav .ul-two>li:nth-child(3) .bag>ul>li:nth-child(3)>a>div{
  	background-image: url(../images/nav/bag/3.png);
  }
   .nav .ul-two>li:nth-child(3) .bag>ul>li:nth-child(4)>a>div{
  	background-image: url(../images/nav/bag/4.png);
  }
   .nav .ul-two>li:nth-child(3) .bag>ul>li:nth-child(5)>a>div{
  	background-image: url(../images/nav/bag/5.png);
  }
   .nav .ul-two>li:nth-child(3) .bag>ul>li:nth-child(6)>a>div{
  	background-image: url(../images/nav/bag/6.png);
  }
   .nav .ul-two>li:nth-child(3) .bag>ul>li:nth-child(7)>a>div{
  	background-image: url(../images/nav/bag/7.png);
  }
   .nav .ul-two>li:nth-child(3) .bag>ul>li:nth-child(8)>a>div{
  	background-image: url(../images/nav/bag/8.png);
  }
   .nav .ul-two>li:nth-child(3) .bag>ul>li:nth-child(9)>a>div{
  	background-image: url(../images/nav/bag/9.png);
  }
   .nav .ul-two>li:nth-child(3) .bag>ul>li:nth-child(10)>a>div{
  	background-image: url(../images/nav/bag/10.png);
  }
   .nav .ul-two>li:nth-child(3) .bag>ul>li:nth-child(11)>a>div{
  	background-image: url(../images/nav/bag/11.png);
  }
   .nav .ul-two>li:nth-child(3) .bag>ul>li:nth-child(12)>a>div{
  	background-image: url(../images/nav/bag/12.png);
  }
  .nav .ul-two>li:nth-child(3) .bag>ul>li:nth-child(13)>a>div{
  	background-image: url(../images/nav/bag/13.png);
  }
  /*clothes*/
   .clothes{
 	background-color: #fff;
    width:100%;
    z-index: 99;
 	left:0;right: 0;
 	margin: auto;
 	position: absolute;
 	top:35px;

 }
 .clothes li a{
 	padding-bottom: 0;
 }
 .clothes li a:hover{
	color: #b4a078;
	border-bottom: 1px solid #b4a078;
}
    .nav .ul-two li:hover .clothes {
   		display: block;
  
    }
   .nav .ul-two li .clothes{
     display: none;
   }
  .clothes>ul>li a{
     	line-height: 50px;
     	font-size: 12px;
     }

     .clothes >ul{
   margin: auto;
   width: 1120px;
     }
     .clothes>ul::after{
     	content: "";
     	display: block;
     	clear: both;
     }
     .clothes >ul>li{
     	float: left;
     	width: 120px;
     	margin-left: 30px;
     	margin-top: 20px;text-align: center;
     }
     .clothes>ul>li .img{
      width:44px;
      height: 44px;
      margin:0 auto;
     }
     
  .nav .ul-two>li:nth-child(4) .clothes>ul>li:first-child>a>div{
  	background-image: url(../images/nav/clothes/1.png);
  }
  .nav .ul-two>li:nth-child(4) .clothes>ul>li:nth-child(2)>a>div{
  	background-image: url(../images/nav/clothes/2.png);
  }
  .nav .ul-two>li:nth-child(4) .clothes>ul>li:nth-child(3)>a>div{
  	background-image: url(../images/nav/clothes/3.png);
  }
   .nav .ul-two>li:nth-child(4) .clothes>ul>li:nth-child(4)>a>div{
  	background-image: url(../images/nav/clothes/4.png);
  }
   .nav .ul-two>li:nth-child(4) .clothes>ul>li:nth-child(5)>a>div{
  	background-image: url(../images/nav/clothes/5.png);
  }
   .nav .ul-two>li:nth-child(4) .clothes>ul>li:nth-child(6)>a>div{
  	background-image: url(../images/nav/clothes/6.png);
  }
   .nav .ul-two>li:nth-child(4) .clothes>ul>li:nth-child(7)>a>div{
  	background-image: url(../images/nav/clothes/7.png);
  }
   .nav .ul-two>li:nth-child(4) .clothes>ul>li:nth-child(8)>a>div{
  	background-image: url(../images/nav/clothes/8.png);
  }
   .nav .ul-two>li:nth-child(4) .clothes>ul>li:nth-child(9)>a>div{
  	background-image: url(../images/nav/clothes/9.png);
  }
   .nav .ul-two>li:nth-child(4) .clothes>ul>li:nth-child(10)>a>div{
  	background-image: url(../images/nav/clothes/10.png);
  }
   .nav .ul-two>li:nth-child(4) .clothes>ul>li:nth-child(11)>a>div{
  	background-image: url(../images/nav/clothes/11.png);
  }
   .nav .ul-two>li:nth-child(4) .clothes>ul>li:nth-child(12)>a>div{
  	background-image: url(../images/nav/clothes/12.png);
  }
  .nav .ul-two>li:nth-child(4) .clothes>ul>li:nth-child(13)>a>div{
  	background-image: url(../images/nav/clothes/13.png);
  }
  .nav .ul-two>li:nth-child(4) .clothes>ul>li:nth-child(14)>a>div{
  	background-image: url(../images/nav/clothes/14.png);
  }
  /*electric*/
   .electric{
 	background-color: #fff;
    width:100%;
    z-index: 99;
 	left:0;right: 0;
 	margin: auto;
 	position: absolute;
 	top:35px;

 }
 .electric li a{
 	padding-bottom: 0;
 }
 .electric li a:hover{
	color: #b4a078;
	border-bottom: 1px solid #b4a078;
}
    .nav .ul-two li:hover .electric {
   		display: block;
  
    }
   .nav .ul-two li .electric{
     display: none;
   }
  .electric>ul>li a{
     	line-height: 50px;
     	font-size: 12px;
     }

     .electric >ul{
   margin: auto;
   width: 1120px;
     }
     .electric>ul::after{
     	content: "";
     	display: block;
     	clear: both;
     }
     .electric >ul>li{
     	float: left;
     	width: 120px;
     	margin-left: 30px;
     	margin-top: 20px;text-align: center;
     }
     .electric>ul>li .img{
      width:44px;
      height: 44px;
      margin:0 auto;
     }
     
  .nav .ul-two>li:nth-child(5) .electric>ul>li:first-child>a>div{
  	background-image: url(../images/nav/electric/1.png);
  }
  .nav .ul-two>li:nth-child(5) .electric>ul>li:nth-child(2)>a>div{
  	background-image: url(../images/nav/electric/2.png);
  }
  .nav .ul-two>li:nth-child(5) .electric>ul>li:nth-child(3)>a>div{
  	background-image: url(../images/nav/electric/3.png);
  }
   .nav .ul-two>li:nth-child(5) .electric>ul>li:nth-child(4)>a>div{
  	background-image: url(../images/nav/electric/4.png);
  }
   .nav .ul-two>li:nth-child(5) .electric>ul>li:nth-child(5)>a>div{
  	background-image: url(../images/nav/electric/5.png);
  }
  /*wash*/
  .wash{
 	background-color: #fff;
    width:100%;
    z-index: 99;
 	left:0;right: 0;
 	margin: auto;
 	position: absolute;
 	top:35px;

 }
 .wash li a{
 	padding-bottom: 0;
 }
 .wash li a:hover{
	color: #b4a078;
	border-bottom: 1px solid #b4a078;
}
    .nav .ul-two li:hover .wash{
   		display: block;
  
    }
   .nav .ul-two li .wash{
     display: none;
   }
  .wash>ul>li a{
     	line-height: 50px;
     	font-size: 12px;
     }

     .wash >ul{
   margin: auto;
   width: 1120px;
     }
     .wash>ul::after{
     	content: "";
     	display: block;
     	clear: both;
     }
     .wash>ul>li{
     	float: left;
     	width: 120px;
     	margin-left: 30px;
     	margin-top: 20px;text-align: center;
     }
     .wash>ul>li .img{
      width:44px;
      height: 44px;
      margin:0 auto;
     }
     
  .nav .ul-two>li:nth-child(6) .wash>ul>li:first-child>a>div{
  	background-image: url(../images/nav/wash/1.png);
  }
  .nav .ul-two>li:nth-child(6) .wash>ul>li:nth-child(2)>a>div{
  	background-image: url(../images/nav/wash/2.png);
  }
  .nav .ul-two>li:nth-child(6) .wash>ul>li:nth-child(3)>a>div{
  	background-image: url(../images/nav/wash/3.png);
  }
   .nav .ul-two>li:nth-child(6) .wash>ul>li:nth-child(4)>a>div{
  	background-image: url(../images/nav/wash/4.png);
  }
   .nav .ul-two>li:nth-child(6) .wash>ul>li:nth-child(5)>a>div{
  	background-image: url(../images/nav/wash/5.png);
  }
  .nav .ul-two>li:nth-child(6) .wash>ul>li:nth-child(6)>a>div{
  	background-image: url(../images/nav/wash/6.png);
  }
  .nav .ul-two>li:nth-child(6) .wash>ul>li:nth-child(7)>a>div{
  	background-image: url(../images/nav/wash/7.png);
  }
  .nav .ul-two>li:nth-child(6) .wash>ul>li:nth-child(8)>a>div{
  	background-image: url(../images/nav/wash/8.png);
  }
   .nav .ul-two>li:nth-child(6) .wash>ul>li:nth-child(9)>a>div{
  	background-image: url(../images/nav/wash/9.png);
  }
   .nav .ul-two>li:nth-child(6) .wash>ul>li:nth-child(10)>a>div{
  	background-image: url(../images/nav/wash/10.png);
  }
  /*food*/
   .food{
 	background-color: #fff;
    width:100%;
    z-index: 99;
 	left:0;right: 0;
 	margin: auto;
 	position: absolute;
 	top:35px;

 }
 .food li a{
 	padding-bottom: 0;
 }
 .food li a:hover{
	color: #b4a078;
	border-bottom: 1px solid #b4a078;
}
    .nav .ul-two li:hover .food {
   		display: block;
  
    }
   .nav .ul-two li .food{
     display: none;
   }
  .food>ul>li a{
     	line-height: 50px;
     	font-size: 12px;
     }

     .food >ul{
   margin: auto;
   width: 1120px;
     }
     .food>ul::after{
     	content: "";
     	display: block;
     	clear: both;
     }
     .food >ul>li{
     	float: left;
     	width: 120px;
     	margin-left: 30px;
     	margin-top: 20px;text-align: center;
     }
     .food>ul>li .img{
      width:44px;
      height: 44px;
      margin:0 auto;
     }
     
  .nav .ul-two>li:nth-child(7) .food>ul>li:first-child>a>div{
  	background-image: url(../images/nav/food/1.png);
  }
  .nav .ul-two>li:nth-child(7) .food>ul>li:nth-child(2)>a>div{
  	background-image: url(../images/nav/food/2.png);
  }
  .nav .ul-two>li:nth-child(7) .food>ul>li:nth-child(3)>a>div{
  	background-image: url(../images/nav/food/3.png);
  }
   .nav .ul-two>li:nth-child(7) .food>ul>li:nth-child(4)>a>div{
  	background-image: url(../images/nav/food/4.png);
  }
   .nav .ul-two>li:nth-child(7) .food>ul>li:nth-child(5)>a>div{
  	background-image: url(../images/nav/food/5.png);
  }
   .nav .ul-two>li:nth-child(7) .food>ul>li:nth-child(6)>a>div{
  	background-image: url(../images/nav/food/6.png);
  }
   .nav .ul-two>li:nth-child(7) .food>ul>li:nth-child(7)>a>div{
  	background-image: url(../images/nav/food/7.png);
  }
   .nav .ul-two>li:nth-child(7) .food>ul>li:nth-child(8)>a>div{
  	background-image: url(../images/nav/food/8.png);
  }
   .nav .ul-two>li:nth-child(7) .food>ul>li:nth-child(9)>a>div{
  	background-image: url(../images/nav/food/9.png);
  }
   .nav .ul-two>li:nth-child(7) .food>ul>li:nth-child(10)>a>div{
  	background-image: url(../images/nav/food/10.png);
  }
   .nav .ul-two>li:nth-child(7) .food>ul>li:nth-child(11)>a>div{
  	background-image: url(../images/nav/food/11.png);
  }
   .nav .ul-two>li:nth-child(7) .food>ul>li:nth-child(12)>a>div{
  	background-image: url(../images/nav/food/12.png);
  }
  .nav .ul-two>li:nth-child(7) .food>ul>li:nth-child(13)>a>div{
  	background-image: url(../images/nav/food/13.png);
  }
  .nav .ul-two>li:nth-child(7) .food>ul>li:nth-child(14)>a>div{
  	background-image: url(../images/nav/food/14.png);
  }
  /*Kitchen*/
  .Kitchen{
 	background-color: #fff;
    width:100%;
    z-index: 99;
 	left:0;right: 0;
 	margin: auto;
 	position: absolute;
 	top:35px;

 }
 .Kitchen li a{
 	padding-bottom: 0;
 }
 .Kitchen li a:hover{
	color: #b4a078;
	border-bottom: 1px solid #b4a078;
}
    .nav .ul-two li:hover .Kitchen {
   		display: block;
  
    }
   .nav .ul-two li .Kitchen{
     display: none;
   }
  .Kitchen>ul>li a{
     	line-height: 50px;
     	font-size: 12px;
     }

     .Kitchen >ul{
   margin: auto;
   width: 1120px;
     }
     .Kitchen>ul::after{
     	content: "";
     	display: block;
     	clear: both;
     }
     .Kitchen >ul>li{
     	float: left;
     	width: 120px;
     	margin-left: 30px;
     	margin-top: 20px;text-align: center;
     }
     .Kitchen>ul>li .img{
      width:44px;
      height: 44px;
      margin:0 auto;
     }
     
  .nav .ul-two>li:nth-child(8) .Kitchen>ul>li:first-child>a>div{
  	background-image: url(../images/nav/Kitchen/1.png);
  }
  .nav .ul-two>li:nth-child(8) .Kitchen>ul>li:nth-child(2)>a>div{
  	background-image: url(../images/nav/Kitchen/2.png);
  }
  .nav .ul-two>li:nth-child(8) .Kitchen>ul>li:nth-child(3)>a>div{
  	background-image: url(../images/nav/Kitchen/3.png);
  }
   .nav .ul-two>li:nth-child(8) .Kitchen>ul>li:nth-child(4)>a>div{
  	background-image: url(../images/nav/Kitchen/4.png);
  }
   .nav .ul-two>li:nth-child(8) .Kitchen>ul>li:nth-child(5)>a>div{
  	background-image: url(../images/nav/Kitchen/5.png);
  }
   .nav .ul-two>li:nth-child(8) .Kitchen>ul>li:nth-child(6)>a>div{
  	background-image: url(../images/nav/Kitchen/6.png);
  }
   .nav .ul-two>li:nth-child(8) .Kitchen>ul>li:nth-child(7)>a>div{
  	background-image: url(../images/nav/Kitchen/7.png);
  }
  /*baby*/
   .baby{
 	background-color: #fff;
    width:100%;
    z-index: 99;
 	left:0;right: 0;
 	margin: auto;
 	position: absolute;
 	top:35px;

 }
 .baby li a{
 	padding-bottom: 0;
 }
 .baby li a:hover{
	color: #b4a078;
	border-bottom: 1px solid #b4a078;
}
    .nav .ul-two li:hover .baby {
   		display: block;
  
    }
   .nav .ul-two li .baby{
     display: none;
   }
  .baby>ul>li a{
     	line-height: 50px;
     	font-size: 12px;
     }

     .baby >ul{
   margin: auto;
   width: 1120px;
     }
     .baby>ul::after{
     	content: "";
     	display: block;
     	clear: both;
     }
     .baby >ul>li{
     	float: left;
     	width: 120px;
     	margin-left: 30px;
     	margin-top: 20px;text-align: center;
     }
     .baby>ul>li .img{
      width:44px;
      height: 44px;
      margin:0 auto;
     }
     
  .nav .ul-two>li:nth-child(9) .baby>ul>li:first-child>a>div{
  	background-image: url(../images/nav/baby/1.png);
  }
  .nav .ul-two>li:nth-child(9) .baby>ul>li:nth-child(2)>a>div{
  	background-image: url(../images/nav/baby/2.png);
  }
  .nav .ul-two>li:nth-child(9) .baby>ul>li:nth-child(3)>a>div{
  	background-image: url(../images/nav/baby/3.png);
  }
   .nav .ul-two>li:nth-child(9) .baby>ul>li:nth-child(4)>a>div{
  	background-image: url(../images/nav/baby/4.png);
  }
   .nav .ul-two>li:nth-child(9) .baby>ul>li:nth-child(5)>a>div{
  	background-image: url(../images/nav/baby/5.png);
  }
   .nav .ul-two>li:nth-child(9) .baby>ul>li:nth-child(6)>a>div{
  	background-image: url(../images/nav/baby/6.png);
  }
   .nav .ul-two>li:nth-child(9) .baby>ul>li:nth-child(7)>a>div{
  	background-image: url(../images/nav/baby/7.png);
  }
   .nav .ul-two>li:nth-child(9) .baby>ul>li:nth-child(8)>a>div{
  	background-image: url(../images/nav/baby/8.png);
  }
   .nav .ul-two>li:nth-child(9) .baby>ul>li:nth-child(9)>a>div{
  	background-image: url(../images/nav/baby/9.png);
  }
   .nav .ul-two>li:nth-child(9) .baby>ul>li:nth-child(10)>a>div{
  	background-image: url(../images/nav/baby/10.png);
  }
   .nav .ul-two>li:nth-child(9) .baby>ul>li:nth-child(11)>a>div{
  	background-image: url(../images/nav/baby/11.png);
  }
   .nav .ul-two>li:nth-child(9) .baby>ul>li:nth-child(12)>a>div{
  	background-image: url(../images/nav/baby/12.png);
  }
  /*sport*/
   .sport{
 	background-color: #fff;
    width:100%;
    z-index: 99;
 	left:0;right: 0;
 	margin: auto;
 	position: absolute;
 	top:35px;

 }
 .sport li a{
 	padding-bottom: 0;
 }
 .sport li a:hover{
	color: #b4a078;
	border-bottom: 1px solid #b4a078;
}
    .nav .ul-two li:hover .sport {
   		display: block;
  
    }
   .nav .ul-two li .sport{
     display: none;
   }
  .sport>ul>li a{
     	line-height: 50px;
     	font-size: 12px;
     }

     .sport >ul{
   margin: auto;
   width: 1120px;
     }
     .sport>ul::after{
     	content: "";
     	display: block;
     	clear: both;
     }
     .sport >ul>li{
     	float: left;
     	width: 120px;
     	margin-left: 30px;
     	margin-top: 20px;text-align: center;
     }
     .sport>ul>li .img{
      width:44px;
      height: 44px;
      margin:0 auto;
     }
     
  .nav .ul-two>li:nth-child(10) .sport>ul>li:first-child>a>div{
  	background-image: url(../images/nav/sport/1.png);
  }
  .nav .ul-two>li:nth-child(10) .sport>ul>li:nth-child(2)>a>div{
  	background-image: url(../images/nav/sport/2.png);
  }
  .nav .ul-two>li:nth-child(10) .sport>ul>li:nth-child(3)>a>div{
  	background-image: url(../images/nav/sport/3.png);
  }
   .nav .ul-two>li:nth-child(10) .sport>ul>li:nth-child(4)>a>div{
  	background-image: url(../images/nav/sport/4.png);
  }
   .nav .ul-two>li:nth-child(10) .sport>ul>li:nth-child(5)>a>div{
  	background-image: url(../images/nav/sport/5.png);
  }
   .nav .ul-two>li:nth-child(10) .sport>ul>li:nth-child(6)>a>div{
  	background-image: url(../images/nav/sport/6.png);
  }
   .nav .ul-two>li:nth-child(10) .sport>ul>li:nth-child(7)>a>div{
  	background-image: url(../images/nav/sport/7.png);
  }
   .nav .ul-two>li:nth-child(10) .sport>ul>li:nth-child(8)>a>div{
  	background-image: url(../images/nav/sport/8.png);
  }
   .nav .ul-two>li:nth-child(10) .sport>ul>li:nth-child(9)>a>div{
  	background-image: url(../images/nav/sport/9.png);
  }
   .nav .ul-two>li:nth-child(10) .sport>ul>li:nth-child(10)>a>div{
  	background-image: url(../images/nav/sport/10.png);
  }
   .nav .ul-two>li:nth-child(10) .sport>ul>li:nth-child(11)>a>div{
  	background-image: url(../images/nav/sport/11.png);
  }
   .nav .ul-two>li:nth-child(10) .sport>ul>li:nth-child(12)>a>div{
  	background-image: url(../images/nav/sport/12.png);
  }
   .nav .ul-two>li:nth-child(10) .sport>ul>li:nth-child(13)>a>div{
  	background-image: url(../images/nav/sport/13.png);
  }
  /*shop*/
  .shop{
 	background-color: #fff;
    width:100%;
    z-index: 99;
 	left:0;right: 0;
 	margin: auto;
 	position: absolute;
 	top:35px;

 }
 .shop li a{
 	padding-bottom: 0;
 }
 .shop li a:hover{
	color: #b4a078;
	border-bottom: 1px solid #b4a078;
}
    .nav .ul-two li:hover .shop {
   		display: block;
  
    }
   .nav .ul-two li .shop{
     display: none;
   }
  .shop>ul>li a{
     	line-height: 50px;
     	font-size: 12px;
     }

     .shop >ul{
   margin: auto;
   width: 1120px;
     }
     .shop>ul::after{
     	content: "";
     	display: block;
     	clear: both;
     }
     .shop >ul>li{
     	float: left;
     	width: 120px;
     	margin-left: 30px;
     	margin-top: 20px;text-align: center;
     }
     .shop>ul>li .img{
      width:44px;
      height: 44px;
      margin:0 auto;
     }
     
  .nav .ul-two>li:nth-child(11) .shop>ul>li:first-child>a>div{
  	background-image: url(../images/nav/shop/1.png);
  }
  .nav .ul-two>li:nth-child(11) .shop>ul>li:nth-child(2)>a>div{
  	background-image: url(../images/nav/shop/2.png);
  }
  .nav .ul-two>li:nth-child(11) .shop>ul>li:nth-child(3)>a>div{
  	background-image: url(../images/nav/shop/3.png);
  }
   .nav .ul-two>li:nth-child(11) .shop>ul>li:nth-child(4)>a>div{
  	background-image: url(../images/nav/shop/4.png);
  }
   .nav .ul-two>li:nth-child(11) .shop>ul>li:nth-child(5)>a>div{
  	background-image: url(../images/nav/shop/5.png);
  }
   .nav .ul-two>li:nth-child(11) .shop>ul>li:nth-child(6)>a>div{
  	background-image: url(../images/nav/shop/6.png);
  }
   .nav .ul-two>li:nth-child(11) .shop>ul>li:nth-child(7)>a>div{
  	background-image: url(../images/nav/shop/7.png);
  }
   .nav .ul-two>li:nth-child(11) .shop>ul>li:nth-child(8)>a>div{
  	background-image: url(../images/nav/shop/8.png);
  }
   .nav .ul-two>li:nth-child(11) .shop>ul>li:nth-child(9)>a>div{
  	background-image: url(../images/nav/shop/9.png);
  }
   .nav .ul-two>li:nth-child(11) .shop>ul>li:nth-child(10)>a>div{
  	background-image: url(../images/nav/shop/10.png);
  }
   .nav .ul-two>li:nth-child(11) .shop>ul>li:nth-child(11)>a>div{
  	background-image: url(../images/nav/shop/11.png);
  }
  /*.........................*/
    .product {

    }
    .wrapper {
      width: 1090px;
      margin: 0 auto;
    }
    .product-photo {
      float: left;
      width: 530px;
      height: 430px;
      position:relative;
    } 
    .product-photo > ul {
      position: absolute;
      width: 74px;
      right: 0;
    }
    .product-photo > ul > li {
      box-sizing: border-box;
      width: 74px;
      height: 74px;
      margin-bottom: 15px;
    }
    .product-photo > ul > li:hover {
      border: 2px solid #b4a078;
    }
    .product-photo > ul > li:hover .large-photo{
      z-index: 10;
    }
    .product-photo  img {
      width: 100%;
    }
    .product-photo .large-photo {
      position: absolute;
      width: 430px;
      height: 430px;
      top: 0;
      left: -456px;
      background-color: #fff;
    }
    .product-desc {
      width: 510px;
      margin-left: 580px;
      height: 430px;
      position: relative;
    } 
    .product-desc .item-pj {
      position: absolute;
      right: 0; top: 0;
    }
    .product-desc p {
      line-height: 2;
    }

    .color1 {
      color: #e36844;
    }
    .product-desc .item-desc {
      padding: 10px;
      background-color: #f5f3ef;
      font-size: 12px;
    }
    .product-desc .item-desc td:first-child{
      width: 50px;
      line-height: 34px;
    }
    
    /*------------------------*/

    .title1 {
      font-size: 20px;
    }
    .sub-title {
      font-size: 14px;
      color: #999;
    }
    /*第一类型标签，用于满额减*/
    .label {
      display: inline;
      padding: .2em .4em;
      color: #fff;
    }
    .label1 {
      background-color: #e36844;

    }
    .label2 {
      background-color:#f28f2d; 
    }
    .button{
      box-sizing: border-box;
      padding: .5em 1em;
      border-radius: 2px;
      display: inline-block;
    }
    .button1 {
      background-color: #f5f3ef;
      border:1px solid #b4a078;
      color: #b4a078;
    }
    .button2 {
      background-color: #b4a078;
      color: #fff;
    }
   
    /*....................................*/
     .smill-tu{
      position: relative;
      margin:10px auto;
      height: 80px;

     }

     .smill-tu ul li{
         float: left;
         padding: 7px;
         background-color: #f2f2f2;
         margin:3px;
     }
     .smill-tu ul li:first-child{
       background-color: #fff;
           }
     .smill-tu::after{
      content:"";
      display: block;
      clear: both;
     }
     .smill-tu ul li a{
      font-size:13px;
       }
       /*.....................*/

       .shu{
        position: relative;
        margin:0 ; 
        width: 195px;
         }
       .shu div{
        float: left;
        border:1px solid #f2f2f2;
        padding: 10px; 

       }
       .shu::after{
      content:"";
      display: block;
      clear: both;
     }
     .shu div:nth-child(3){
      width:55px;
      text-align: center;

     }
     .shu div:first-child{
      border:none;
      font-size: 13px;
     }
     .1{
      width:100%;
      background-color: teal;
      /*position: relative;*/
     }
     /*............*/
     .home{
      position: relative;
      width: 100%
      padding: 20px;
      padding-top: 50px;
      
     }
     .smi-title{
      width: 1090px;
      background-color: #fff;
      margin: auto;
      border:1px solid #ccc; 
     }
     .smi{
      background-color: #f5f5f5;
      font-size: 25px;
      padding: 5px;
     }
     .life{
    width: 1090px;
    margin:auto; 
  }
  .life::after{
    content: "";
    display: block;
    clear: both;
  }
  .life>ul::after{
  content: "";
  display: block;
  clear: both;
  }
  .life ul li{
    width:267px;
    float: left;
    border:1px solid #fff;
    margin: 1px;
    background-color: #fff;

  }
   .s8-text,.s9-text , .s10-text , .s11-text {
    width: 267px;
  background-color: #fff;
    height: 71px;

   }
    .s8-text h2,.s9-text h2, .s10-text h2, .s11-text h2{
      font-size: 14px;
      font-weight: 17px;
      text-align: center;
    }
    .s10-text h2, .s11-text h2{

      padding-top: 22px;
    }
  .s8-text h2:hover, .s9-text h2:hover, .s10-text h2:hover, .s11-text h2:hover{
      color:red;
    }

    .s8-text p,.s9-text p, .s10-text p,  .s11-text p{
      font-size: 13px;
      color: red;
    text-align: center;
    }
     .color111 .s8-text span:first-child,
     .color2 .s9-text span:first-child{
  margin-left: 80px;
  border-radius: .3em;
  background-color: #e36844;
  color: #fff;
 }
 .color111 .s8-text span:nth-child(2){
  border-radius: .3em;
  background-color: red;
  color: #fff;
 }
 .color111 .s8-pic ,
 .color2 .s9-pic ,
 .color3 .s10-pic ,
 .color4 .s11-pic {
  margin-left: 40px;
 }

 .color111 .s8-pic img,
 .color2 .s9-pic img,
 .color3 .s10-pic img,
 .color4 .s11-pic img{
    transition: all 2s;
  }
  .color111 .s8-pic img:hover,
  .color2 .s9-pic img:hover,
  .color3 .s10-pic img:hover,
  .color4 .s11-pic img:hover{
    transform: scale(1.1);
  }
  /*................................*/
  .liang{
    width:1090px;
    /*background-color: pink;*/
    position: relative;
    margin: 0 auto;
    padding: 20px;
    border-bottom: 1px solid #ccc;
  }
  .xiangxi{
  width:748px;
  background-color: #f5f5f5;
  float: left;
  border:1px solid #ccc;
  /*margin:auto;*/
  }
  .liang::after{
    content: "";
    display: block;
    clear: both;
  }
  .hour{
   width:300px;
  border:1px solid #ccc;
  background-color: #fff;
  float: right;
  padding:15px;
  }
  .hour {
    border-top:none;
  }
   .xiangxi::after{
    content: "";
    display: block;
    clear: both;
  }
  .xiang::after{
     content: "";
    display: block;
    clear: both;
  }
  .xiang ul li{
  float: left;
  width: 130px;
  text-align: center;
  border-right: 1px solid #ccc;
  
  .xiang ul li:nth-child(2),
  .xiang ul li:nth-child(3){
  border-bottom: 1px solid #ccc;

  }
  .bang{
    text-align: center;
    font-size: 18px;
    background-color: #f5f5f5;
    border:1px solid #ccc;
    height:50px;
    margin: 5px;
  }
   .hour .tupian div:nth-child(1){
    border-top:none;
   
   }
   .biao tr td:nth-child(2),
   .biao tr td:nth-child(4){
     color:#ccc;
     font-size: 13px;
   }
   .biao  {
     padding: 10px;
     margin: 15px;
   
   }
    .tupian{
      margin-left: 20px;
      padding: 5px;
     border-top: 1px solid #ccc;
    }
    .tupian p{
      text-align: center;
    }
    .tupian p:nth-child(3){
      color: red;
    }
    .tupian p:nth-child(2):hover{

      color: red;
    }
    .xiangxi {
      border-left:none; 
      border-bottom:none; 
    }
    /*........................*/
    /*kehu*/

.Box{
    width:100%;
   /*position: relative;*/
   }
   .box-22{
    width: 1090px;
    background-color: #fff;
    padding: 20px;
     /*position: absolute;*/
    margin: 20px auto;
   }
  .
   .titlee::after{
   content: "";
   display: block;
   clear: both;
   }
   .titlee,.guanzhu,.code{
    border-left: 1px solid #ccc;
    width: 358px;
    text-align: center;
    float: left;
    margin: 1px;

   }
   .titlee{
    border-left: none;
   }
    
    .box-22::after{
      content: "";
      display: block;
      clear: both;
    }
   .titlee p{
      font-size: 20px;
      color:#000;

   }
   .titlee ul li{
    border: 1px solid #ccc;
    float: left;
      margin: 30px;
   }
   .titlee ul li:first-child{
    margin-left: 70px;
   }
   .titlee ul li p{
    font-size: 19px;
   }
  .guanzhu p{
    font-size: 18px;
      color:#000;
  }
  /*footer*/
.footer{
    width:100%;
    position: relative;
    background-color: #414141;


   }
   .baozhang{
    width: 1090px;
    background-color: #414141;
    padding: 20px;
    margin: 20px auto;
   }
   .copy{
    width:1090px;
    /*background-color: yellow;*/
    margin: auto;
   }
   .baozhang::after{
    content: "";
    display: block;
    clear: both;
   }
   .baozhang ul li{
    float: left;
    margin-left: 170px;
   }

   /*copy*/
   .copy{
    width: 1090px;
    background-color: #414141;
   }
   .caidan{
    border-top:1px solid #ccc;
    text-align: center;

   }
   .caidan::after{
      content: "";
    display: block;
    clear: both;
   }
   .caidan ul li{
    float: left;
    margin-left:50px; 
    border-right:1px solid #ccc;
    text-align: center;
    color:#999983;
    font-size: 16px;

   }
   .caidan ul{
    margin-top:30px;
   }
   span{
    color:#999983;
   }
   i{
    color:#999983;
   }
   